@use "colors";
@use "fonts";

.groupListItem {
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem 0.8rem;
  border: 1px solid colors.$secondary;
  border-radius: 5px;
  background: colors.$fourth;
  cursor: pointer;

  &:hover,
  &:active {
    background: colors.$fifth;
    border: 1px solid colors.$secondary-dark;
  }

  h3 {
    margin-bottom: 0.3rem;
  }

  p {
    font-size: fonts.$smallest;
  }
}

.groupDetails {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0.5rem;
    font-size: fonts.$bigger;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.groupActions {
  button {
    margin-bottom: 1rem;
  }
}
