.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max(100vh, 700px); /* TODO: ensure the min height is OK */
  width: min(100%, 800px);
  margin: auto;
  background: var(--color-gray-dark);
}

.header  {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--color-white-light);
}
.title {
  flex: 1;
  margin: 0;
  font-size: var(--font-size-biggest);
  color: var(--color-primary);
}
.title a {
  text-decoration: none;
}

.main {
  flex-grow: 1;
  padding: 0.5rem 1rem;
}

.footer {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 2px solid var(--color-white-light);
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 0.5rem;
}
