@use "colors";
@use "fonts";

.tabsContainer {
  display: flex;
  margin-bottom: 1rem;
}
.tabsContainer:first-child {
  flex: 1;
}
.tab {
  padding: 0 0.5rem;
  border: none;
  background: none;
  font-size: fonts.$normal;
  color: colors.$thirdary;
  cursor: pointer;
}
.tab:not(:last-child) {
  border-right: 1px solid white;
}
.tabCurrent {
  text-decoration: underline;
}
